.individualList{
    margin: 30px;
    width: 55%;
    height: 300px;
    display: flex;
    flex-direction: row;
    
}

.summaryResort{
    display: flex;
    flex-direction: column;
    height: 320px;
    row-gap: 18px;
}

.availability{
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    width: 30em;
    height: 20em;
}

.availability-left{

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.availability-right{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.availabilityComponent{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.priceLabel{
    display: flex;
    flex-direction: column;
}

.labelBookPriceButton{
    display: flex;
    flex: row;
    justify-content: space-between;

}

.picture{
    width: 35%;
    height: 20em;
    width: 50%;
    margin-right: 30px;
    border-radius: 30px 0px 0px 30px;
}

.iconImages{
    width: 1em;
    width: 10%;
    height: 1em;

    
}


.bookButton{
    border-radius: 40px;
    background-color: #FF6600;
    border: none;
    width: 150px; 
    height: 40px;
    font-size: 0.8em;
    cursor: pointer;
    color: white;
}
