.rowPictures{
    display: flex;
    flex-direction: row;
    background: lightslategray;
    height: 300px;
    align-items: center;
    justify-content: center;
  
}

.holidayContainer{
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.availability1{
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    width: 40em;
    height: 10em;
}

.availability-left1{

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.availability-right1{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.availabilityComponent1{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.bookButton1{
    border-radius: 40px;
    background-color: #FF6600;
    border: none;
    width: 20em; 
    height: 70px;
    font-size: 1em;
    cursor: pointer;
    color: white;
}

.priceLabel1{
    display: flex;
    flex-direction: column;
}

.labelBookPriceButton1{
    width: 105em;
    display: flex;
    flex: row;
    justify-content: space-between;

}

/* BEACH section */
.beachDescription{
    display: flex;
    flex-direction: row;
    height: 40em;
    background: black;
    color: white;
    justify-content: space-around;
}

.LabelUB{
    padding: 4em;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 32px;
}

.descUB{
    display: flex;
    flex: 1;
    margin: 4em;
    margin-top: 6em;
    font-size: 18px;

}

/*Review Section*/

.reviewSection{
    padding: 100px;
}

.reviewTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 48px;
    color: green;
    margin-bottom: 40px;
}
.reviewList{
    padding: 10em 20em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 60%;
    height: 20em;
    gap: 1em 1em;
}